$color-principal: #ffffff;
$color-letra: #000000;
$button-size: 40px;
$color-imagen-rojo: #700d14;
$color-fondo-crema: #f8eee4;

.categoria{
    margin: 13px;
    color: $color-letra;
}

.dropdown-toggle {
    background-color: $color-imagen-rojo !important;
}