@import '../../variables.scss';


.filtroPadre{
    padding: 0 5rem;

    .categoria{
        margin: 13px;
        color: $color-letra;
    }
    
    .nombre-filtro{
        color: $color-principal;
        padding: 2px 10px!important;
    }
    
    .active-link {
        color: $color-letra!important;
      }
    
    .rest{
        color: $color-letra!important;
        
    }

}