@import '../../variables.scss';


.filtroPadre {
    display: flex;
    gap: 10px;
    padding: 0 5rem;
    justify-content: space-evenly;
  
    .nombre-filtro {
      border-radius: 20px; // Ajusta según sea necesario
      padding: 8px 16px; // Ajusta según sea necesario
      color: $color-principal;
      background-color: $color-imagen-oscuro; // Color de fondo predeterminado
      border: 1px solid $color-principal;
  
      &:hover,
      &:focus {
        color: $color-letra;
        background-color: $color-principal; // Cambia el color al pasar el ratón por encima
        border: 1px solid $color-letra;
      }
    }
  
    .active-link {
      color: $color-letra !important;
      background-color: $color-principal; // Color de fondo cuando está activo
      border: 1px solid $color-letra;
    }
  }