@import "../../variables.scss";

.tarjetaGrandeList {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 11rem;
  padding-right: 11rem;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2rem;
  border-radius: 0 0 7px 7px;
  background-color: $color-principal;
}

.tarjetaList {
  margin: 3% 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1490px) {
  .tarjetaGrandeList {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}


@media (max-width: 1400px) {
  .tarjetaGrandeList {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 1350px) {
  .tarjetaGrandeList {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr 2fr;
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (max-width: 1200px) {
  .tarjetaGrandeList {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: 2fr 2fr;
    grid-gap: 2rem;
    border-radius: 0 0 7px 7px;
  }
}

@media (max-width: 992px) {
  .tarjetaGrandeList {
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 2fr;
    .tarjetaGrandeList {
      padding-top: 3rem;
      padding-bottom: 5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .tarjetaList {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 910px) {

  .columna-card {
    display: grid;
    grid-auto-rows: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .tarjetaGrandeList {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

@media (max-width: 690px) {
  .tarjetaGrandeList {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

}



@media (max-width: 630px) {
  .tarjetaGrandeList {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}


@media (max-width: 500px) {
  .tarjetaList {
    margin: 3% 2%;
  }
}

@media (max-width: 460px) {
  .tarjetaList {
    margin: 3% 15%;
  }
}

@media (max-width: 390px) {
  .tarjetaList {
    margin: 3% 7%;
  }
}

@media (max-width: 310px) {
  .tarjetaList {
    margin: 3% 5%;
  }
}