@import '../../variables.scss';

.tarjetaGrandeList{
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 13rem;
    padding-right: 13rem;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 2rem;
    border-radius: 0 0 7px 7px;
    background-color: $color-fondo-crema;
}


.tarjetaList{
    margin: 1rem 3rem;
    height: 100%;
}
