@import "../../components/variables.scss";

.mapa {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px!important;
  
  .titulo {
    color: $color-letra;
    display: flex;
    justify-content: center;
    padding: 3rem 0rem ;
    font-family: 'Lobster Two', sans-serif;
    
  }
  
  .color-fondo-contenedor {
    background-color: $color-principal;
    height: auto;
    .cargando {
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-principal;
    }
  }
}


