@import "../../components/variables.scss";

.mapa {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px!important;
}

.color-fondo-contenedor {
  background-color: $color-principal;
  height: auto;
  grid-area: color-fondo-contenedor;
}
.menu {
  grid-area: menu;
}

.titulo {
  color: $color-letra;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cargando {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-fondo-crema;
}
