@import "../../variables.scss";

.header {
  width: 100%;
  height: 13vh;
  .contHeader{
    display: flex;
    justify-content: space-around!important;
    .logoHeader {
      .imgHeader {
        height: 6rem;
      }
    }
    
    .carritoHeader{
      .carrito {
        color: $color-letra;
        font-size: 1.5rem;
      }
    }
  }
}
