$color-principal: #ffffff;
$color-letra: #000000;
$button-size: 40px;
$color-imagen-rojo: #700d14;
$color-fondo-crema: #fcf8f5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
  }