.tarjeta-individual {
  height: 100% !important;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cuerpo-card {
  padding: 2px !important;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3fr 3fr;
  grid-template-areas:
    "imagen columna-card"
    "imagen columna-card-agregar";
  padding-bottom: 0;
  padding-top: 0;
  grid-gap: 2rem;
}

.columna-card {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  padding-top: 0;
}
.boton-ver {
  margin: 0 2rem;
}

.columna-card-agregar {
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  width: 171px !important;
  height: 180px;
  border-radius: 10px!important;
}

.imagen {
  display: flex;
  align-items: center;
  flex-direction: row;
  
}

.precio {
  margin: 0 2rem;
}

.precio-agregar {
  display: flex;
  justify-content: space-between;
}
.titulo-prod {
  display: flex;
  justify-content: flex-start!important;
}

.imagen:hover {
  cursor: pointer;
}

.precio:hover {
  cursor: pointer;
}


.addtoCart:hover {
  cursor: pointer;
}

.titulo-prod:hover {
  cursor: pointer;
}
