@import '../../variables.scss';

.link-footer {
  color: $color-fondo-crema;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 6px;
}


.contenedor-footer {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.footer {
  background-color: $color-imagen-rojo;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

.datos-completos {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: "navegacion contacto atencion";
}

.datos h1{
  width: 100%;
  font-size: 1.12rem;
  padding-bottom: 7px;
}

.datos P {
  font-size: 1rem;
}


.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin: 10px;
  color: $color-fondo-crema;
}


.footer ul {
  list-style: none;
  padding: 0;
}


.footer ul li {
  margin-bottom: 5px; 
}

.navegacion ul {
  display: flex;
  flex-direction: column;
}

.font{
  padding-top: 0.23rem;
  padding-right: 0.3rem;
}

.titulos{
  display: flex;
  border-bottom: #000000 solid 2px;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
}
.nombre-titulo{
  display: flex; 
}
.subtitulos{
  display: flex;
}


.datos-navegacion{
  margin-top: 2rem;
  width: 100%;
}

.datos-navegacion h1{
  font-size: 1.9rem;
  color: $color-fondo-crema;
}

.imagen-footer{
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
}

.imagen h1{
  font-size: 0.7em;
  margin-bottom: 1px;
}

.brand-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px!important;
}