@import "./components/variables.scss";

body, html {
  overflow-x: hidden !important;
  width: 100vw !important;
}

p {
  font-family: "Oxygen", sans-serif;
}

.color-fondo {
  background-color: $color-principal;
}

.App {
  background-color: $color-principal;
  height: auto;
}
