* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  // background-image: url("./assets/panes.jpg");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 130% 100%;
  // height: 100vh;
  
}



