@import "../../variables.scss";

.cart-button {
  color: white;
  .iconoCarrito {
    color: $color-letra;
    cursor: pointer;
  }
}
.carrito {
  .menuCarrito {
    transform: translateX(100%);
    width: var(--bs-offcanvas-width);
    transition: transform 0.3s ease-in-out;
  }
}
.cuerpoCarrito {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .botones {
    padding-bottom: 1rem;
    .inciarCompraBoton {
      margin-right: 1rem;
    }
    .botonLimpiar {
    }
  }
  .letra {
    color: $color-letra;
  }
  .carroFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cuerpoBotonCarrito {
  width: 6rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .bottonAgregarAlCarro {
    background-color: $color-fondo-crema !important;
    color: $color-imagen-oscuro;
    font-weight: bold;
    border: none;
    border-radius: 100rem;
    width: 100%;
    height: 100%;
  }
  .cantidadEnProd {
    color: $color-imagen-oscuro;
    font-size: 1rem !important;
    padding: 0rem 0.5rem;
  }
  .botton-chico-menos {
    background-color: $color-imagen-oscuro !important;
    color: $color-fondo-crema;
    font-weight: bold;
    border: none;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  .botton-chico-mas {
    background-color: $color-imagen-oscuro !important;
    color: $color-fondo-crema;
    font-weight: bold;
    border: none;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
}

.menuCarrito.show {
  transform: translateX(0);
}
.iconoCarrito:hover {
  color: $color-imagen-rojo;
}
