.cart {
  display: none;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

.cart-button {
  color: white;
}
.letra{
  color: rgb(74, 123, 143);
}

h1 {
  color: green!important  
}
